language: php
sudo: false

php:
    - '5.5'
    - '5.6'
    - '7.0'
    - hhvm

before_script:
    - travis_retry curl -s http://getcomposer.org/installer | php
    - travis_retry php composer.phar install
    - mkdir -p build/logs

script:
    - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls

matrix:
    allow_failures:
        - php: hhvm
