{
    "chmod": "0755",
    "main": "bin/slimdump",
    "directories-bin": [
        "src"
    ],
    "finder-bin": [
        {
            "name": "*.php",
            "in": "vendor"
        }
    ],
    "output": "slimdump.phar",
    "stub": true
}
