on:
    release:
        types: created

name: Build .phar on release

jobs:
    build_phar:
        runs-on: ubuntu-22.04
        steps:
            -   name: Configure PHP version
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.3
                    coverage: none
                    tools: composer:v2
            -   uses: actions/checkout@v4
            -   name: Install PHIVE
                run: |
                    wget --quiet -O phive.phar https://phar.io/releases/phive.phar
                    wget --quiet -O phive.phar.asc https://phar.io/releases/phive.phar.asc
                    gpg --keyserver hkps://keys.openpgp.org --recv-keys 0x9D8A98B29B2D5D79
                    gpg --verify phive.phar.asc phive.phar
                    chmod +x phive.phar
                    sudo mv phive.phar /usr/local/bin/phive
            -   run: |
                    composer install --no-interaction --no-scripts --no-progress
                    composer show
            -   run: phive --no-progress install --trust-gpg-keys 0x2DF45277AEF09A2F
            -   run: tools/box compile --verbose --no-ansi
            -   name: Fetch tag name from GITHUB_REF
                id: get_version
                run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
            -   name: Attach .phar to release
                uses: svenstaro/upload-release-action@14569a2d348419d066e34e5dfa65071ecd30b64b
                with:
                    repo_token: ${{ secrets.GITHUB_TOKEN }}
                    file: slimdump.phar
                    asset_name: slimdump-${{ steps.get_version.outputs.VERSION }}.phar
                    tag: ${{ github.ref }}
