on:
    release:
        types: created

name: Build .phar on release

jobs:
    build_phar:
        runs-on: ubuntu-18.04
        steps:
            -   uses: actions/checkout@v1
            -   name: Install PHIVE
                run: |
                    wget --quiet -O phive.phar https://phar.io/releases/phive.phar
                    wget --quiet -O phive.phar.asc https://phar.io/releases/phive.phar.asc
                    gpg --keyserver pool.sks-keyservers.net --recv-keys 0x9D8A98B29B2D5D79
                    gpg --verify phive.phar.asc phive.phar
                    chmod +x phive.phar
                    sudo mv phive.phar /usr/local/bin/phive
            -   run: composer install --no-interaction --no-scripts --no-progress --no-suggest
            -   run: mkdir -p ~/.phive/phars/{humbug,php-coveralls} # Work around https://github.com/phar-io/phive/issues/262
            -   run: phive --no-progress install --trust-gpg-keys 4AA394086372C20A,E82B2FB314E9906E --force-accept-unsigned
            -   run: tools/box build --verbose --no-ansi
            -   name: Fetch tag name from GITHUB_REF
                id: get_version
                run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
            -   name: Attach .phar to release
                uses: svenstaro/upload-release-action@14569a2d348419d066e34e5dfa65071ecd30b64b
                with:
                    repo_token: ${{ secrets.GITHUB_TOKEN }}
                    file: slimdump.phar
                    asset_name: slimdump-${{ steps.get_version.outputs.VERSION }}.phar
                    tag: ${{ github.ref }}
