on: [push, pull_request]
name: Run Tests

jobs:
    PHPUnit:
        runs-on: ubuntu-18.04
        strategy:
            fail-fast: false
            matrix:
                php: [7.2, 7.3, 7.4]
        steps:
            -   uses: actions/checkout@v1
            -   name: Install PHIVE
                run: |
                    wget --quiet -O phive.phar https://phar.io/releases/phive.phar
                    wget --quiet -O phive.phar.asc https://phar.io/releases/phive.phar.asc
                    gpg --keyserver pool.sks-keyservers.net --recv-keys 0x9D8A98B29B2D5D79
                    gpg --verify phive.phar.asc phive.phar
                    chmod +x phive.phar
                    sudo mv phive.phar /usr/local/bin/phive
            -   run: composer install --no-interaction --no-scripts --no-progress --no-suggest
            -   run:
                    # Work around https://github.com/phar-io/phive/issues/262
                    mkdir -p ~/.phive/phars/humbug
                    phive --no-progress install --trust-gpg-keys 4AA394086372C20A,E82B2FB314E9906E --force-accept-unsigned
            -   run: mkdir -p build/logs
            -   run: tools/phpunit --coverage-clover=build/logs/clover.xml
            # Commented out Coveralls reporting until https://github.com/php-coveralls/php-coveralls/pull/275 is resolved
            #-   run: tools/php-coveralls --verbose
            #    env:
            #        COVERALLS_RUN_LOCALLY: 1
            #        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
